{
  "*.css": ["stylelint", "prettier --write --ignore-unknown"],
  "*.{js,ts,json,jsx,tsx}": ["eslint", "prettier --write --ignore-unknown"],
  "!(*.css|*.js|*.jsx|*.json|*.ts|*.tsx)": "prettier --write --ignore-unknown"
}
