.afterRarityText {
  white-space: pre;
}

.control {
  &[data-inactive] {
    opacity: 0;
    cursor: default;
  }
}

.dollName {
  text-align: center;
}

.introContainer {
  border: 1px solid;
  border-radius: 0.5rem;
}
