.after-rarity-text {
  white-space: pre;
}

.control {
  &[data-inactive] {
    cursor: default;
    opacity: 0;
  }
}

.doll-name {
  text-align: center;
}

.intro-container {
  border: 1px solid;
  border-radius: 0.5rem;
}
