.after-rarity-text {
  white-space: pre;
}

.doll-image {
  width: 16rem;
  height: 16rem;

  @media (min-width: $mantine-breakpoint-sm) {
    width: 32rem;
    height: 32rem;
  }

  @media (min-width: $mantine-breakpoint-md) {
    width: 48rem;
    height: 48rem;
  }
}

.doll-name {
  text-align: center;
}

.intro-container {
  width: 100%;
  border: 1px solid;
  border-radius: 0.5rem;

  @media (min-width: $mantine-breakpoint-xs) {
    width: 32rem;
  }

  @media (min-width: $mantine-breakpoint-sm) {
    width: 40rem;
  }

  @media (min-width: $mantine-breakpoint-md) {
    width: 56rem;
  }
}
