.report-select {
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;

  @mixin larger-than $mantine-breakpoint-xs {
    width: 70%;
  }

  @mixin larger-than $mantine-breakpoint-sm {
    width: 60%;
  }

  @mixin larger-than $mantine-breakpoint-md {
    width: 50%;
  }

  @mixin larger-than $mantine-breakpoint-lg {
    width: 40%;
  }
}
