:root {
  background-color: var(--joy-palette-background-surface);
  color-scheme: light dark;
  display: flex;
  font-synthesis: none;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  min-width: 240px;
  place-items: center;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
